/* Este archivo se encuentra vinculado con el archivo Nosotros.html */
/* Encabezado de la página */ 
.contenido {
    padding-top:3.5%;
}
.Encabezado img{
    position: relative;
    float: left;
    overflow: none;
    width: 100%;
    height: 35vmax;
    box-shadow: 0px 3px 90px;
}
.Contenido_Encabezado {
    position: absolute;
    margin: 8% 33%;
    font-family: sans-serif;
    font-weight: bolder;
    text-align: center;
    font-size: 600%;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 13px 14px 5px #17202A;
}
/* Información principal de la empresa */
.Quienes_Somos {
    padding: 5%;
    font-family: sans-serif;
    width: 60%;
    margin: auto;
    overflow: hidden;
}
.ima {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: auto;
    box-shadow: 1px 8px 40px #7D6608;
}
h3 {
    text-align: center;
    font-size: 45px;
}
.Quienes_Somos p {
    margin: 40px;
}
.Mision{
   font-size: 30px;
   font-family: sans-serif;
   display: flex;
   justify-content: space-evenly;
   padding: 20px;
   margin-bottom: 80px;
   border-bottom: 1px solid black;
}
.Vision{
    font-size: 30px;
    font-family: sans-serif;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    margin-bottom: 80px;
    border-bottom: 1px solid black;
}
.Politica{
    font-size: 30px;
    font-family: sans-serif;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    margin-bottom: 80px;
}