/* Este archivo se encuentra vinculado con el archivo de la lista de aspirantes (aspirantes.php) y las graficas */
/* Estilo del submenú */
#Barra_Herramientas {
    margin-top: 3.55%;
    position: fixed;
    float: right;
    width: 100%;
    background-color: rgba(10, 10, 10, 0.8);
    font-family: sans-serif;
}
#Barra_Herramientas:hover {
    background: rgba(0, 0, 0, 0.9);
}
ul, ol {
    list-style: none;
}
.Herramientas > li {
    float: right;
}
.Herramientas li a {
    color: white;
    text-decoration: none;
    padding: 14px 15px;
    display: block;
}
.Herramientas #buscar {
    width: 14%;
}
.Herramientas #buscar div {
    display: flex;
    padding: 4.5% 2%;
    float: left;
}
.Herramientas li input {
    margin: 0% 0% 0% 2%;
    padding: 1% 2%;
    border-radius: 5%;
    border: 2px groove #17202A;
    font-family: sans-serif;
    font-size: 12px;
}
.Herramientas li input:hover {
    background-color: #E5E8E8;
    border: 2px groove #E9BD15;
}
.Herramientas li a:hover {
    background-color: #E9BD15;
    color: black;
}
.Herramientas li ul {
    display: none;
    position: absolute;
    min-width: 100px;
}
.Herramientas li:hover > ul {
    display: block;
}
.Herramientas li ul li {
    position: relative;
    background-color: rgba(0, 0, 0, 0.9);
}
/* submenu -> buscador */
#submenu {
    width: 99.6%;
    margin-top: 53px;
    padding: 0.2%;
    float: left;
    box-shadow: 0px 5px 10px gray;
    background-color:rgba(0, 0, 0, 0.75);
    position: fixed;
}
#submenu:hover {
    background-color:rgba(0, 0, 0, 0.95);
    box-shadow: 0px 5px 10px black;
}
#submenu form {
    width: 21.5%;
    float: right;
    position: relative;
}
.text, .button {
    vertical-align: middle;
    border-radius: 5px;
    background: rgb(255, 255, 255, 0.85);
    font-family: sans-serif;
    font-size: 130%;
}
.text:hover, .button:hover {
    transition: 0.5s;
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px whitesmoke;
}
.text {
    padding: 0.5% 2%;
}
.button {
    padding: 0.2% 0.5%;
}
.button:hover {
    transform: scale(1.08);
}
/* Estilo del contenido de las páginas */
.contenido {
    padding-top: 7%;
    padding-bottom: 40px;
    background-color: #E5E8E8;
}
/* Arquitectura de cada perfil de los usuarios con el rol de aspirante */
.Perfil_Aspirante {
    margin: 1.5% 3%;
    padding: 1.8%;
    width: 40%;
    display: inline-flex;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(49, 48, 48);
}

/* información del aspirante */
.infoAsp {
    width: 100%;
}
.Logo_Usuario {
    width: 40%;
    border-radius: 10px;
}
.Logo_Usuario:hover {
    background-color: #bfc9ca59;
}
table td, table th {
    padding: 2px 5px;
}
table tr th {
    text-align: end;
}
table tr td {
    text-align: left;
}
.infoAsp a {
    font-family: sans-serif;
    font-size: 100%;
    color: black;
    text-decoration: none;
}
.infoAsp a:hover {
    font-weight: bold;
    text-decoration: underline;
    text-shadow: 0px 0px 1px gray;
}

/* Botón de bloqueo */
.botons {
    padding: 0.8% 2.5%;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 100%;
}

/* Documentos del aspirante */
.Documentos_Aspirante {
    width: 100%;
    padding: 1%;
}
.Boton_Documento {
    width: 100%;
    height: auto;
    margin: 3px 0%;
    padding: 3px 7px;
    border-radius: 7px;
    border: 2px groove #184394;
    text-align: left;
    font-family: sans-serif;
    font-size: 120%;
}
.Boton_Documento:hover {
    background-color: #c5dffb98;
}
#Documento_1P {
    border: 2px groove #F1948A;
}
#Documento_1P:hover {
    border: 2px groove #F1948A;
    background-color: #FADBD8;
}