* {
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}
/* formato de la página */
body {
    background: rgb(100, 100, 100);
}
.content {
    margin: 6% 20%;
    padding: 5% 7%;
    background: white;
    border-radius: 0.5%;
    box-shadow: 0px 0px 20px rgb(25, 25, 25);
}
/* btón de volver */
.goBack {
    margin: -7% 3%;
    /* padding: 0% 3%; */
    /* width: 10%;
    height: 15%; */
    float: left;
    position: fixed;
    vertical-align: middle;
    /* border: 3px groove rgb(190, 190, 190); */
    background: rgb(255, 255, 255, 0);
    border: 0px solid rgb(0, 0, 0, 0);
    border-radius: 8%;
    /* box-shadow: 0px 0px 4px rgb(25, 25, 25); */
    text-shadow: 0px 0px 13px rgba(255, 255, 255, 1);
    font-size: 650%;
}
.goBack:hover {
    transition: 0.5s;
    transform: scale(1.1);
    /* box-shadow: 0px 0px 7px black;; */
    text-shadow: 0px 0px 20px whitesmoke;
    color: black;
}
/* titulo y cabecera */
.logoTrascendental {
    width: 5%;
    position: absolute;
    margin: -4.5% -27%;
}
#titulo h2 {
    font-family: sans-serif;
    font-size: 150%;
    margin-top: 5%;
    margin-bottom: 3%;
}
/* tabla de datos del contrato */
.datos {
    margin: 5% 0%;
    width: 85%;
    border-collapse: collapse;
}
.datos th {
    width: 50%;
}
.datos th, .datos td {
    padding: 1.5% 2%;
    border: 2px solid black;
}
/* terminos del contrato */
.parrafoC {
    font-family: sans-serif;
    font-size: 100%;
    margin: 5% 0%;
}
/* tabla de firmas */
.firmas {
    width: 80%;
    margin-bottom: 3%;
}
.firmas th {
    width: 50%;
}
.firmas th,.firmas td {
    width: 50%;
    
}
.firmas .name {
    text-align: center;
}
/* pie de página */
.piePag {
    margin-top: 8%;
    margin-bottom: -4%;
}
/* botón de descarga */
.btnDescarga {
    /* margin: 5% -13.5%; */
    margin: 2% -8%;
    padding: 0.5% 1%;
    font-size: 120%;
    float: right;
    border-radius: 5%;
    border: 2px groove black;
}
.btnDescarga:hover {
    transition: 0.5s;
    box-shadow: 0px 0px 5px gray;
}