/* Este archivo se encuentra vinculado con los siguientes archivos:
    1. dotacion.html
    2. induccion.html */

/* Estilo del Submenú */
.sub_menu{
    padding-top: 53px;
    float: rigth;
}
#Tipo_Formularios {
    /* padding-left: 56%; */
    position: fixed;
    float: right;
    width: 100%;
    display: inline-flex;
    background-color:rgba(10, 10, 10, 0.8);
    font-family: sans-serif;
}
#Tipo_Formularios:hover {
    background-color:rgba(0, 0, 0, 0.9);
}

.sub_menu .busq {
    margin-left: 69%;
    padding: 7px;
    width: 200%;
    float: rigth;
    display: inline-flex;
}
.sub_menu .busq label {
    display: inline-flex;
    color: white;
}
.sub_menu .busq label p {
    padding: 6px 10px;
    width: 140px;
}
.sub_menu .busq label .texto {
    margin: 0% 1%;
    padding: 3px 5px;
    font-size: 100%;
    width: 140px;
}
.sub_menu .busq label input[type="date"] {
    width: 146px;
    text-align: center;
}
.sub_menu .busq label input[type="time"] {
    width: 118px;
    text-align: center;
}
.sub_menu .busq input[type="submit"]  {
    float: rigth;
    font-size: 18px;
}

ul, ol {
    list-style: none;
    margin-left: 1%;
}
.form1 > li {
    float: left;
}
.form1 li a {
    color: white;
    text-decoration: none;
    padding: 14px 15px;
    display: block;
}
.form1 li ul {
    display: none;
    position: absolute;
    min-width: 100px;
}
.form1 li a:hover {
    background-color: #E9BD15;
    color: black;
}
.form1 li:hover > ul {
    display: block;
}
.form1 li ul li {
    position: relative;
    background-color: rgba(0, 0, 0, 0.9);
}

/* Estilo de los formatos */
.contenido {
    margin: 7.2% 4% 6% 4%;
    box-shadow: 0px 0px 15px rgb(124, 168, 251);
    font-family: sans-serif;
}
table {
    width: 100%;
    border-collapse: collapse;
}
.tabla1 tr th {
    font-size: 120%;
}
th {
    padding: 0.5% 1%;
}
th, td {
    border: 1px solid black;
    font-size: 160%;
}
#Objetivo th, #Datos th, #Responsables th, #Temas th, #Datos2 th, #Firmas th {
    font-size: 143%;
}
.RRHH th, .tabla1 th, .asp th, .footer th {
    font-size: 143%;
}
.tabla1 .control {
    padding: 6% 2%;
    text-align: center;
}
.control[type="date"] {
    text-align: center;
}
.control {
    width: 95%;
    margin: 1%;
    padding: 2% 1%;
    border: none;
    font-size: 80%;
    text-align: center;
}
table select {
    padding: 0.7% 1%;
    /* margin: 0% 39%; */
    width: 365px;
    background: none;
    border: none;
    font-size: 70%;
    text-align: center;
}
form option {
    width: 100.02%;
    border: 2ps solid red;
}
.btn {
    margin: 1% 1%;
    padding: 0.5% 2%;
    border-radius: 4px;
    font-size: 150%;
    float: inline-end;
}
.contenido a button {
    margin: 1% 1%;
    padding: 0.5% 2%;
    border-radius: 4px;
    font-size: 150%;
    float: inline-end;
}
.contenido a button:hover {
    font-weight: bolder;
    box-shadow: 0px 0px 5px black;
}