/* Este archivo se encuentra vinculado con los siguientes archivos:
    1. dotacion.html
    2. induccion.html */

/* Estilo del Submenú */
.sub_menu{
    padding-top: 3.5%;
    width: 100%;
}
#Tipo_Formularios {
    float: right;
    width: 100%;
    background-color:rgba(10, 10, 10, 0.8);
    font-family: sans-serif;
}
#Tipo_Formularios:hover {
    background-color:rgba(0, 0, 0, 0.9);
}
ul, ol {
    list-style: none;
}
.form1 > li {
    float: right;
    margin-right: 3.8%;
}
.form1 li a {
    color: white;
    text-decoration: none;
    padding: 14px 15px;
    display: block;
}
.form1 li ul {
    display: none;
    position: absolute;
    min-width: 100px;
}
.form1 li a:hover {
    background-color: #E9BD15;
    color: black;
}
.form1 li:hover > ul {
    display: block;
}
.form1 li ul li {
    position: relative;
    background-color: rgba(0, 0, 0, 0.9);
}

/* Estilo de los formatos */
.contenido {
    margin: 7.2% 2% 5% 2%;
    box-shadow: 0px 0px 15px rgb(124, 168, 251);
    font-family: sans-serif;
}
table {
    width: 100%;
    border-collapse: collapse;
}
.tabla1 tr th {
    font-size: 120%;
}
th {
    padding: 0.5% 1%;
}
th, td {
    border: 1px solid black;
    font-size: 160%;
}
.RRHH th, .tabla1 th, .asp th, .footer th {
    font-size: 143%;
}
.tabla1 .control {
    padding: 6% 2%;
    text-align: center;
}
.control[type="date"] {
    text-align: center;
}
.control {
    width: 95%;
    margin: 1%;
    padding: 2% 1%;
    border: none;
    font-size: 80%;
    text-align: center;
}
form option {
    width: 100.02%;
    border: 2ps solid red;
}
.btn {
    margin: 1% 1%;
    padding: 0.5% 2%;
    border-radius: 4px;
    font-size: 150%;
    float: inline-end;
}
.contenido a button {
    margin: 1% 1%;
    padding: 0.5% 2%;
    border-radius: 4px;
    font-size: 150%;
    float: inline-end;
}
.contenido a button:hover {
    font-weight: bolder;
    box-shadow: 0px 0px 5px black;
}