* {
    margin: 0%;
    padding: 0%;
}
.Barra_Navegacion {
    background: rgb(0, 0, 0, 0.9);
    width: 100%;
    position: fixed;
    z-index: 3;
}
.Logo_Menú {
    width: 4%;
    overflow: hidden;
    margin: 1% 2%;
    /*margin-left: 40px;
    margin-bottom: 5px;*/
    border: 0,5px solid rgba(128, 128, 128, 0.719);
}
h1 {
    color: white;
    font-size: 247%;
    overflow: hidden;
    display: inline-block;
    margin: 5px;
}
nav {
    float: right; /* Desplazamos el nav hacia la izquierda */
}
nav ul {
    list-style: none;
    overflow: hidden; /*Limpiamos errores de float*/
}
nav ul li {
    float: right;
    font-family: Arial, sans-serif;
    font-size: 120%;
    width: auto;
}
nav ul li a {
    display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
    padding: 15px;
    color: #fff;
    text-decoration: none;
}
nav ul li a:hover {
    color: black;
}
nav ul li:hover {
    color: rgb(239, 255, 19);
    background: #E9BD15;
}
/*----------------------------------------------*/
.contenido {
    padding-top: 3.5%;
}
.Contacto {
    background-color: white;
    width: 30%;
    margin: 5% auto;
    border-radius: 4px;
    background-color: #F5D72F;
    box-shadow: 37px 13px 37px #616A6B;
    padding: 2%;
}
.contenido h2 {
    font-size: 150%;
    font-family: sans-serif;
    text-align: center;
    padding-bottom: 1.5%;
    border-bottom: 1px solid black;
}
.contenido p {
    font-size: 130%;
    font-family: sans-serif;
    padding: 1.5% 0%;
}
.controls {
    width: 93.5%;
    height: auto;
    margin: 1% 0%;
    padding: 2.5%;
    background-color: white;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 115%;
}
.controls:hover {
    background-color: #EAEDED;
    box-shadow: 0px 0px 3px gray;
}
.Contacto a {
    color: black;
    text-decoration: none;
}
.botons {
    background-color: white;
    font-family: sans-serif;
    font-size: 100%;
    padding: 1% 5%;
    margin: 2% 40%
}
.botons:hover {
    background-color: #EAEDED;
    box-shadow: 0px 0px 3px gray;
}
.Contacto a:hover {
    text-decoration: underline;
}
input:focus {
    border: 2px groove #34495E;
}
#correo:invalid {
    border: 2px groove #E74C3C;
}
#correo:valid {
    border: 2px groove #2ECC71;
}
#nombres:required, #correo:required, #Calendario:required {
    border: 2px groove #E74C3C;
}
/*-------------------------------------------*/
footer {
    color: white;
    background-color: rgba(0, 0, 0, 0.897);
}
footer ul {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
}
footer ul li {
    padding-left: 10px;
}
.copyright {
    color: black;
    padding: 4px;
    background-color: #e7f521;
    text-align: center;
}