* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
.Barra_Navegacion {
    background: rgb(0, 0, 0, 0.9);
    width: 100%;
    position: fixed;
    z-index: 3;
}
.Logo_Menú {
    width: 4%;
    overflow: hidden;
    margin-top: 5px;
    margin-left: 40px;
    margin-bottom: 5px;
    border: 0,5px solid rgba(128, 128, 128, 0.719);
}
h1 {
    color: white;
    font-size: 29px;
    overflow: hidden;
    display: inline-block;
    margin: 5px;
}
#menu {
    float: right; /* Desplazamos el nav hacia la izquierda */
}
#menu ul {
    list-style: none;
    overflow: hidden; /*Limpiamos errores de float*/
}
#menu ul li {
    float: right;
    font-family: Arial, sans-serif;
    font-size: 16px;
}
#menu ul li a {
    display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
    padding: 15px;
    color: #fff;
    text-decoration: none;
}
#menu ul li a:hover {
    color: black;
}
#menu ul li:hover {
    color: rgb(239, 255, 19);
    background: #E9BD15;
}
/*-------------------------------------------------*/
#Tipo_Contrato {
    margin-top: -0.31%;
    float: right;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.9);
    font-family: sans-serif;
}
ul, ol {
    list-style:none;
}
.Contratos > li {
    float: right;
}
.Contratos li a {
    color: white;
    text-decoration: none;
    padding: 14px 15px;
    display: block;
}
.Contratos li ul {
    display: none;
    position: absolute;
    min-width: 100px;
}
.Contratos li a:hover {
    background-color: #E9BD15;
    color: black;
}
.Contratos li:hover > ul {
    display: block;
}
.Contratos li ul li {
    position: relative;
    background-color: rgba(0, 0, 0, 0.9);
}
/*-------------------------------------------------*/
.Contrato {
    margin: 10% 5%;
    padding: 1%;
    position: auto;
    float: right;
    width: 40%;
    border: 2px solid rgb(217, 0, 255);
}
.Inicio_Contratos {
    width: 100%;
    height: auto;
    margin: 0%;
}
.contrato1 { 
    width: 50%;
}
input {
    width: 47%;
    display: inline-block;
}
.controls {
    width: 80%;
}
.Dirección .controls, .Dirección input {
    width: 10%;
    display: inline-block;
}
#Calle {
    width: 200%;
}
.Contrato p, .Contrato .controls {
    font-size: 16px;
    margin: 0.3%;
    padding: 0.5%;
}
.Dirección input, .Dirección .controls p {
    display: inline;
    width: 60%;
    border: 1px solid blue;
}
#Cuidad_Residencia, #Calle {
    width: 5%;
}
/*-------------------------------------------------*/
footer {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.897);
}
footer ul {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
}
footer ul li {
    padding-left: 10px;
}
.copyright {
    color: black;
    padding: 4px;
    background-color: #e7f521;
    text-align: center;
}