* {
    margin: 0%;
    padding: 0%;
}
.Barra_Navegacion {
    background: rgb(0, 0, 0, 0.9);
    width: 100%;
    position: fixed;
    z-index: 3;
}
.Logo_Menú {
    width: 4%;
    overflow: hidden;
    margin: 1% 2%;
    /*margin-left: 40px;
    margin-bottom: 5px;*/
    border: 0,5px solid rgba(128, 128, 128, 0.719);
}
h1 {
    color: white;
    font-size: 247%;
    overflow: hidden;
    display: inline-block;
    margin: 5px;
}
nav {
    float: right; /* Desplazamos el nav hacia la izquierda */
}
nav ul {
    list-style: none;
    overflow: hidden; /*Limpiamos errores de float*/
}
nav ul li {
    float: right;
    font-family: Arial, sans-serif;
    font-size: 120%;
    width: auto;
}
nav ul li a {
    display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
    padding: 15px;
    color: #fff;
    text-decoration: none;
}
nav ul li a:hover {
    color: black;
}
nav ul li:hover {
    color: rgb(239, 255, 19);
    background: #E9BD15;
}
/*------------------------------------*/
.contenido {
    padding-top: 3.58%;
}
.nuestros_servicios img{
    position: relative;
    float: left;
    overflow: none;
    width: 100%;
    height: auto;
}
.contenido_servicios {
    width: auto;
    height: auto;
    position: absolute;
    padding: 4.1%;
    margin-top: 5.3%;
    margin-left: 12.7%;
    margin-right: 12.5%;
}
#letrero {
    width: 20%;
    height: auto;
    margin: 1% 45%;
    /*margin-left: 470px;
    margin-right: 470px;*/
}
.contenido_servicios h2, .contenido_servicios p {
    width: 100%;
    height: auto;
    color: white;
    font-family: sans-serif;
    font-weight: bolder;
    text-align: center;
}
.contenido_servicios h2 {
    font-size: 330%;
}
.contenido_servicios p {
    font-size: 150%;
}
/*-----------------------------------------*/
.manual_instructivo {
    width: 100%;
    height: auto;
    display: inline-block;
    justify-content:space-evenly;
    padding-top: 5%;
    background-color: rgb(255, 254, 251);   
    border: 1px solid;
}
.imagen_instructivo {
    display: inline-block;
    position: absolute;
    margin: 15% 8%;
    width: 25%;
    height: auto;
    border-radius: 8%;
    border: 1.5px solid #3B83BD;
    box-shadow: 2px 10px 30px rgb(62, 186, 243);
}
.contenido_manual_instrutivo {
    width: 45.5%;
    margin: 0% 0% 5% 42%;
    background-color: #3B83BD;
    box-shadow: 10px, 15px, 20px #17202A;
    border-radius: 10px;
    padding: 4%;
    font-family: sans-serif;
}
.contenido_manual_instrutivo h3 {
    text-align: center;
    font-size: 45px;
    color: white;
    padding-bottom: 3%;
    margin-bottom: 3%;
    border-bottom: 1px solid white;
}
.contenido_manual_instrutivo ul {
    padding-left: 3.5%;
    color: white;
}
.contenido_manual_instrutivo ul li {
    font-size: 250%;
}
.contenido_manual_instrutivo ul a {
    color: white;
    font-size: 100%;
}
.lista_manual {
    margin: 1%;
}
/*----------------------------------*/
.contenido_personas_asociadas h3 {
    margin-top: 20px;
    margin-left: 680px;
    text-align: center;
    padding-left: 700;
    padding-right: 700;
    font-family: sans-serif;
    font-size: 30px;
    color: black;
}
/*-----------------------*/
.contenido_acerca_disser {
    padding: 5% 15%;
    font-family: sans-serif;
    font-size: 200%;
    background-color: #f8ed4f;
}
#disser_ingenieria{
    font-family: sans-serif;
    font-size: 250%;
    text-align: center;
    padding: 1.5%;
}
/*-----------------------*/
.personas_asociadas {
    border-bottom: 1px solid black ;
    padding: 5% 0%;
}
#empresas_1{ 
    margin: 1% 31.4%;
    font-size: 400%;
    font-family: sans-serif;
    font-weight: border;
    text-align: center;
    color: rgb(0, 0, 0);
    text-shadow: 13px 14px 5px rgba(119, 102, 102, 0.836);
}
.imagenes_empresas {
    margin: 0% 5% 3% 5%;
}
.imagenes_empresas2 {
    margin: 0% 23%;
}
.empresas_asociadas {
    width: 13%;
}
.imagenes_empresas form {
    position: relative;
    display: inline-block;
    width: 22.5%;
    margin: 1%;
}
.imagenes_empresas2 form {
    position: relative;
    display: inline-block;
    width: 47%;
    margin: 1%;
}
.personas_asociadas section div form input {
    width: 100%;
    height: auto;
}
/*---------------------------*/
.contenido_acerca_desarrolladores {/* ----AQUI VA EL COLOR DE LA CAJA ----*/
    /*display: inline-block;*/
    margin: 5% 0%;
    /*position: relative;
    padding: 8px;*/
    width: 100%;
    background-color:  rgb(255, 255, 255);
}
.Logo_Sena {
    /*position: relative;*/
    /*left: 40.6em;*/
    width: 10%;
    height: auto;
    margin: 1%;
}
#Derechos {
    width: 50%;
    margin: 0% 0% 1.5% 25%;
}
#diseño{
    display: inline-block;
    /*margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 18em;
    margin-right: 18em;*/
    text-align: center;
    font-size: 300%;
}
#diseño_2{
    border-top: 1px solid black;
    width: 60%;
    margin: 0% 20%;
    padding-top: 1.5%;
    font-size: 40px;
    text-align: center; 
}
/*----------------------*/
footer {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.897);
}
footer ul {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
}
footer ul li {
    padding-left: 10px;
}
.copyright {
    color: black;
    padding: 4px;
    background-color: #e7f521;
    text-align: center;
}