* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.Barra_Navegacion {
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    position: fixed;
    z-index: 10;
}
.Inicio {
    background-color: #e5e8e8da;
}
.Logo_Menú {
    width: 5%;
    overflow: hidden;
    margin-top: 10px;
    margin-left: 80px;
    margin-bottom: 8px;
    border: 0,5px solid rgba(128, 128, 128, 0.719);
}
h1 {
    color: rgba(0, 0, 0, 0.952);
    font-size: 40px;
    overflow: hidden;
    display: inline-block;
    margin: 5px;
}
nav {
    float: right; /* Desplazamos el nav hacia la izquierda */
}
nav ul {
    list-style: none;
    overflow: hidden; /* Limpiamos errores de float */
}
nav ul li {
    float: right;
    font-family: Arial, sans-serif;
    font-size: 16px;
}
nav ul li a {
    display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
    padding: 15px;
    color: #fff;
    text-decoration: none;
}
nav ul li:hover {
    color: black;
    background: #f7dc6f;
}
.contenido {
    padding-top: 50px;
    padding-bottom: -10px;
    background-color: #2837477a;
    padding-bottom: 515px;
}
.contenido img {
    float: left;
    overflow: none;
    display: block;
    margin-top: 71px;
    margin-bottom: -355px;
    width: 1366px;
    height: 454px;
}
.fondo_Luminicentes {
    position: absolute;
}
.Inicio_Sesión {
    background-color: white;
    margin-left: 575px;
    margin-right: 575px;
    border-radius: 4px;
    background-color: #F5D72F;
    box-shadow: 3px 4px 5px whitesmoke;
    padding: 20px;
    float: left;
}
#Contenido_Inicio_Sesión {
    list-style: lower-greek;
    overflow: hidden;
}
h2 {
    font-size: 12px;
    font-family: sans-serif;
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 4px;
}
.controls {
    width: 100%;
    background-color: white;
    padding: 10px;
    border-radius: 2,5px;
    margin-bottom: 12px;
    font-family: sans-serif;
    font-size: 13px;
}
.controls:hover {
    background-color: #EAEDED;
}
.Inicio_Sesión a {
    color: black;
    text-decoration: none;
}
#Contenido_Inicio_Sesión p a {
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 10px;
    font-family: sans-serif;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 15px;
}
#Contenido_Inicio_Sesión p a:hover {
    font-size: 12px;
    color: navy;
    text-decoration: underline;
}
.botons {
    background-color: white;
    font-family: sans-serif;
    font-size: 9px;
    padding: 4px;
    margin-left: 16px;
    padding: 5px 50px 5px 50px;
}
.botons:hover {
    background-color: #D1F2EB;
}
.Inicio_Sesión a:hover {
    text-decoration: underline;
}
input:focus {
    border: 3px groove #34495E;
}
#correo:required, #contraseña:required {
    border: 3px groove #E74C3C;
}
#correo:required, #contraseña:required {
    border: 3px groove #2ECC71;
}
#correo:required, #contraseña:required {
    border: 3px groove #E74C3C;
}
footer {
    color: white;
    background-color: rgba(0, 0, 0, 0.897);
}
footer ul {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
}
footer ul li {
    padding-left: 10px;
}
.copyright {
    color: black;
    padding: 4px;
    background-color: #e7f521;
    text-align: center;
}