* {
    margin: 0%;
    padding: 0%;
}
.Barra_Navegacion {
    background: rgb(0, 0, 0, 0.9);
    width: 100%;
    position: fixed;
    z-index: 3;
}
.Logo_Menú {
    width: 4%;
    overflow: hidden;
    margin: 1% 2%;
    /*margin-left: 40px;
    margin-bottom: 5px;*/
    border: 0,5px solid rgba(128, 128, 128, 0.719);
}
h1 {
    color: white;
    font-size: 247%;
    overflow: hidden;
    display: inline-block;
    margin: 5px;
}
nav {
    float: right; /* Desplazamos el nav hacia la izquierda */
}
nav ul {
    list-style: none;
    overflow: hidden; /*Limpiamos errores de float*/
}
nav ul li {
    float: right;
    font-family: Arial, sans-serif;
    font-size: 120%;
    width: auto;
}
nav ul li a {
    display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
    padding: 15px;
    color: #fff;
    text-decoration: none;
}
nav ul li a:hover {
    color: black;
}
nav ul li:hover {
    color: rgb(239, 255, 19);
    background: #E9BD15;
}
/*-----------------------------------------*/
.contenido {
    padding-top:3.5%;
}
.Encabezado img{
    position: relative;
    float: left;
    overflow: none;
    width: 100%;
    height: 35vmax;
    box-shadow: 0px 3px 90px;
}
.Contenido_Encabezado {
    position: absolute;
    margin: 8% 33%;
    font-family: sans-serif;
    font-weight: bolder;
    text-align: center;
    font-size: 600%;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 13px 14px 5px #17202A;
}
/*--------------------------------------------*/
.Quienes_Somos {
    padding: 5%;
    font-family: sans-serif;
    width: 60%;
    margin: auto;
    overflow: hidden;
}
.ima {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: auto;
    box-shadow: 1px 8px 40px #7D6608;
}
h3 {
    text-align: center;
    font-size: 45px;
}
.Quienes_Somos p {
    margin: 40px;
}
.Mision{
   font-size: 30px;
   font-family: sans-serif;
   display: flex;
   justify-content: space-evenly;
   padding: 20px;
   margin-bottom: 80px;
   border-bottom: 1px solid black;
}
.Vision{
    font-size: 30px;
    font-family: sans-serif;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    margin-bottom: 80px;
    border-bottom: 1px solid black;
 }
.Politica{
    font-size: 30px;
    font-family: sans-serif;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    margin-bottom: 80px;
}
/*-----------------------------------------*/
footer {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.897);
}
footer ul {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
}
footer ul li {
    padding-left: 10px;
}
.copyright {
    color: black;
    padding: 4px;
    background-color: #e7f521;
    text-align: center;
}