* {
    margin: 0px;
    padding: 0px;
}
.Barra_Navegacion {
    background: rgb(0, 0, 0, 0.9);
    width: 100%;
    position: fixed;
    z-index: 3;
}
.Logo_Menú {
    width: 4%;
    overflow: hidden;
    margin-top: 5px;
    margin-left: 40px;
    margin-bottom: 5px;
    border: 0,5px solid rgba(128, 128, 128, 0.719);
}
h1 {
    color: white;
    font-size: 29px;
    overflow: hidden;
    display: inline-block;
    margin: 5px;
}
#menu {
    float: right; /* Desplazamos el nav hacia la izquierda */
}
#menu ul {
    list-style: none;
    overflow: hidden; /*Limpiamos errores de float*/
}
#menu ul li {
    float: right;
    font-family: Arial, sans-serif;
    font-size: 16px;
}
#menu ul li a {
    display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
    padding: 15px;
    color: #fff;
    text-decoration: none;
}
#menu ul li a:hover {
    color: black;
}
#menu ul li:hover {
    color: rgb(239, 255, 19);
    background: #E9BD15;
}
/*-------------------------------------------------*/
main{
    padding: 4%;
}
h3{
    font-size: 300%;
    font-family: 'Gill Sans';
    text-align: center;
    margin: 1%;
}
.empresas_asociadas{
    width: 12%;
    display:inline-block;
    padding: 2%;
}
#colpatria{
    font-size: 350%;
    font-family: sans-serif;
    text-align: center;
    margin: 2%;
    padding: 2%;
    border-top: 1px solid black;
}
.obras2{
    border-radius: 6px;
    box-shadow: 0px 0px 20px green;
    background-color: yellowgreen;
    Padding: 3%;
    margin-bottom: 5%;
}
.obras3{
    background-color:yellow;
    border-radius: 6px;
    box-shadow: 0px 0px 30px #E5BE01;
    Padding: 3%;
    margin-bottom: 5%;
}
.obras4{
    background-color: #C81D11;
    border-radius: 6px;
    box-shadow: 0px 0px 30px #5E2129;
    Padding: 3%;
    margin-bottom: 5%;
}
.obras5{
    background-color: #7FFFD4;
    border-radius: 6px;
    box-shadow: 0px 0px 30px #5DC1B9;
    Padding: 3%;
    margin-bottom: 5%;
}
.obras6 {
    background-color: #507DBC;
    border-radius: 6px;
    box-shadow: 0px 0px 30px #252850;
    Padding: 3%;
    margin-bottom: 5%;
}
.obras7 {
    background-color: pink;
    border-radius: 6px;
    box-shadow: 0px 0px 30px #b76E79;
    Padding: 3%;
    margin-bottom: 5%;
}
#ig {
    margin-bottom: 2%;
   width: 20%;
   height: auto;
}
.in-ba {
    display: flex;
    margin-bottom: 2%;
    /*justify-content: space-around;*/
}
.info_basica {
    /*text-align: center;*/
    padding: 0% 10%;
    font-family: sans-serif;
    font-size: 170%;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    font-size: 180%;
    font-family: sans-serif;
    padding: 0.5%;
}
table input, table select {
    margin: 2% 0%;
    background-color: inherit;
    color: black;
    border: none;
    width: 99%;
    font-size: 60%;
}
div {
    margin-top: 1%;
}
div input {
    padding: 0.5% 1%;
    font-size: 100%;
    font-family: sans-serif;
    border-radius: 4px;
    border: 2px groove black;
}
.controls:hover, .botons:hover {
    background-color: rgb(245, 245, 245);
    box-shadow: 0px 0px 3px gray;
    font-weight: bolder;
}
.controls:focus, .botons:focus {
    border: 2px groove navy;
}
.Creacion {
    width: 30%;
    margin: 0% 35%;
    padding: 2%;
    border-radius: 6px;
    box-shadow: 0px 0px 8px  grey;
    font-family: sans-serif;
}
.Creacion h4 {
    margin-bottom: 2%;
    font-size: 150%;
    text-align: center;
}
.Creacion .controls {
    display: inline-block;
    width: 90%;
    margin: 1.5%;
    padding: 5px 10px;
    font-size: 100%;
    border-radius: 4px;
}
#Documento {
    width: 96.4%;
}
.Creacion .botons {
    margin-top: 2%;
    margin-left: 3%;
    padding: 1% 2%;
    font-size: 100%;
    border-radius: 4px;
}
/*-------------------------------------------------*/
footer {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.897);
}
footer ul {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
}
footer ul li {
    padding-left: 10px;
}
.copyright {
    color: black;
    padding: 4px;
    background-color: #e7f521;
    text-align: center;
}