#Barra_Herramientas {
    margin-top: 3.6%;
    float: right;
    border-top: 2px solid rgba(160, 43, 0, 0.9);
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    font-family: sans-serif;
}
ul, ol {
    list-style:none;
}
.Herramientas > li {
    float: right;
}
.Herramientas li a {
    color: white;
    text-decoration: none;
    padding: 14px 15px;
    display: block;
}
.Herramientas li input {
    width: 75%;
    padding: 3% 6%;
    margin: 6% 3%;
    border-radius: 3%;
    border: 2px groove #17202A;
    font-family: sans-serif;
    font-size: 12px;
}
.Herramientas li input:hover {
    background-color: #E5E8E8;
    border: 2px groove #E9BD15;
}
.Herramientas li a:hover {
    background-color: #E9BD15;
    color: black;
}
.Herramientas li ul {
    display: none;
    position: absolute;
    min-width: 100px;
}
.Herramientas li:hover > ul {
    display: block;
}
.Herramientas li ul li {
    position: relative;
    background-color: rgba(0, 0, 0, 0.9);
}
/*------------------------------------------------*/
.contenido {
    padding-top: 8%;
    padding-bottom: 3%;
    background-color: #E5E8E8;
}
.Perfil_Aspirante {
    border-radius: 5px;
    width: 90%;
    background-color: white;
    margin: 1% 3%;
    padding: 1%;
    box-shadow: 0px 0px 10px rgb(49, 48, 48);
}
.Logo_Usuario {
    border-radius: 200px;
    background-color: #BFC9CA;
    width: 15%;
}
.Documentos_Aspirante p a {
    font-family: sans-serif;
    font-size: 100%;
    color: black;
    text-decoration: none;
}
.Documentos_Aspirante p a:hover {
    font-weight: bold;
    text-decoration: underline;
    text-shadow: 0px 0px 1px gray;
}
.Documentos_Aspirante {
    float: left;
    width: 30%;
    height: auto;
    /*margin-left: 230px;
    margin-top: -268px;*/
    margin: -16% 16%;
    padding: 1%;
}
.Documentos {
    width: 100%;
    height: auto;
    margin: 1.5% 0%;
}
.Documentos input {
    text-align: left;
    padding: 1% 3%;
    width: 100%;
    font-family: sans-serif;
    font-size: 120%;
    border-radius: 10px;
    border: 2px groove #2ecc70e0;
    background-color: #D1F2EBe0;
}
.Documentos input:hover {
    background-color: #D4EFDF;
    font-weight: bold;
}
.Documentos input:required {
    border: 2px groove #E74C3C;
    background-color: #FDEDEC;
}
.Documentos input:required:hover {
    background-color: #FADBD8;
}
.Comentarios {
    float: right;
    width: 40%;
    /*margin-top: -263px;
    margin-right: -20px;*/
    margin: -17% 0%;
    padding: 1%;
}
.Comentarios input {
    text-align: left;
    padding: 5px 15px;
    z-index: auto;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 6px;
}
.controls {
    width: 95.5%;
    height: auto;
    padding: 2%;
    font-family: sans-serif;
    font-size: 110%;
    border-radius: 5px;
}
.controls:hover {
    background-color: #EAEDED;
    box-shadow: 0px 0px 3px gray;
}
.controls:focus {
    border: 2px groove navy;
}
.Botón_Envío {
    float: right;
    margin-top: 1.5%;
}
input {
    font-family: 'Times New Roman';
    font-size: 80%;
}
input:hover {
    background-color: #EAEDED;
    box-shadow: 0px 0px 3px gray;
}