.contenido {
    padding-bottom: 66.65%;
    background-color: #2837477a;
}
.contenido img {
    float: left;
    position: relative;
    z-index: -1;
}
.imagen_fondo{
    width: 100%;
    height: auto;
    filter: blur(7px);
}
.Inicio_Sesión {
    margin: 17.6% 35.5%;
}
.Registro {
    margin: 13.8% 35.5%;
}
.Olvide_Contraseña {
    margin: 16.8% 35.5%;
}
.Contacto {
    margin: 12.5% 35.5%;
}
.Inicio_Sesión, .Registro, .Olvide_Contraseña, .Contacto {
    width: 25%;
    border-radius: 8px;
    /*background-color: #F5D72F;*/
    /*background-color: black;*/
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 8px whitesmoke;
    padding: 2%;
    position: absolute;
}
.contenido h2 {
    color: white;
    font-size: auto;
    font-family: sans-serif;
    text-align: center;
    margin: 2.5% 0%;
}
.controls {
    width: 90%;
    color: rgb(255, 255, 255, 1);
    /*color: black;*/
    /*background-color: black;*/
    /*background-color: white;*/
    background-color: rgba(220, 220, 220, 0);
    padding: 2% 3.5%;
    border-radius: 5px;
    margin: 2% 0%;
    font-family: sans-serif;
    font-size: 115%;
}
/*#TyC {
    background-color: black;
}*/
#cargos {
    width: 98%;
}
.controls:hover {
    background-color: #EAEDED;
    box-shadow: 0px 0px 5px gray;
    color: black;
}
.botons {
    width: auto;
    height: auto;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 100%;
    font-weight: bolder;
    padding: 2%;
    margin: 2% 0%;
    background-color: rgba(220, 220, 220, 0);
    /*background-color: black;*/
    /*background-color: white;*/
    color: white;
    /*color: black;*/
}
.botons:hover {
    background-color: #EAEDED;
    box-shadow: 0px 0px 5px gray;
    color: black;
}
.contenido p {
    margin: 1.5% 0%;
    font-size: 110%;
    font-family: sans-serif;
    color: white;
    /*color: black;*/
}
.contenido p a {
    color: white;
    /*color: black;*/
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}
.contenido p a:hover {
    color: rgb(16, 186, 238);
    text-decoration: underline;
    text-shadow: 0px 0px 2px gray;
}
.controls:focus {
    border: 1px groove #34495E;
}
#correo:required, #contraseña:required {
    border: 1px groove #E74C3C;
}
#correo:required, #contraseña:required {
    border: 1px groove #2ECC71;
}
#correo:required, #contraseña:required {
    border: 1px groove #E74C3C;
}