/*Vinculacion a las paginas perfil_Aspirante y Mi_Perfil */
/*Encabezado y notificaciones de la pagina perfil_Aspirante*/
.fondo_notificaciones {
    /*
    margin-top: 3.6%;
    width: 100%;
    height: auto;
    filter: blur(3px);
    z-index: -1;
    */
    background-image: url(../../../../Imagenes/Obra-Notificaciones.jpg);
    background-attachment: fixed;
    background-size: 100%;
    padding: 5%;
    box-shadow: 0px 0px 15px black;
}
.notificaciones {
    position: relative;
    /*float: left;*/
    width: 60%;
    max-height: auto;
    /*margin: -28.5% 19% 3% 19%;*/
    margin: 5% 19%;
    padding: 2%;
    border-radius: 10px;
    background-color: rgba(228, 228, 228, 0.5);
    box-shadow: 0px 0px 10px black;
}
.caja_notificaciones {
    width: 100%;
    /*float: left;*/
    padding: 0.5%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}
.caja_notificaciones:hover {
    background-color: #e5e8e870;
    border-radius: 4px;
}
.casa {
    float: left;
    width: 4.5%;
    margin-right: 1.5%;
    padding: 1%;
}
.notificaciones h2 {
    margin-top: 0.5%;
    font-family: sans-serif;
    font-size: 150%;
}
.notificaciones p {
    margin-bottom: 0.5%;
    font-family: sans-serif;
    font-size: 125%;
}
/*Formulario para ingresar todos los datos de las paginas perfil_Aspirante y Mi_Perfil */
.Contenido {
    padding-top: 8%;
    padding-bottom: 5%;
}
body {
    background-color: rgb(212, 212, 211, 0.2);
}
.Perfil {
    background: white;
    width: 40%;
    border-radius: 10px;
    font-family: sans-serif;
    /*font-size: 20px;*/
    margin: 5%;
    padding: 2%;
    box-shadow: 0px 0px 20px black;
}
.Perfil h2 {
    font-size: 180%;
    text-align: center;
}
.Imagen_Perfil {
    text-align: center;
}
.Perfil p {
    font-size: 110%;
    margin: 1%;
}
#Fecha_Nacimiento, #Fecha_Expedición_Documento {
    margin-left: 2%;
}
#Fecha_Expedición_Documento {
    width: 58%;
}
#Fecha_Nacimiento {
    width: 67.5%;
}
#Foto_Perfil {
    width: 15%;
    padding: 1%;
    border-radius: 100px;
    background-color: white;
}
#Foto_Perfil:hover {
    background-color: #e5e8e8c0;
}
.controls, .Seleccion {
    width: 95%;
    margin: 1% 0%;
    padding: 1.5% 3%;
    border-radius: 10px;
    background: white;
    font-family: sans-serif;
    font-size: 110%;
    border: solid 2px #184394; 
}
.Seleccion {
    width: 101.6%;
}
.controls:hover, .Seleccion:hover, .botons:hover {
    background: #f8f8f8;
    box-shadow: 0px 0px 5px gray;
}
.botons {
    width: auto;
    border-radius: 10px;
    margin: 1% 0%;
    padding: 1% 1.5%;
    font-size: 120%;
}
/*Formulario para subir la documentacion requerida */
.Documentos_Aspirante {
    float: right;
    width: 37.5%;
    margin: -84.75% 5%;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0px 0px 20px black;
    background-color: white;
}
label {
    font-size: 130%;
    font-family: sans-serif;
}