/*Vinculacion a las paginas perfil_Aspirante y Mi_Perfil */
/*Encabezado y notificaciones de la pagina perfil_Aspirante*/
.fondo_notificaciones {
    background-image: url(../../../Imagenes/notificaciones.jpg);
    background-attachment: fixed;
    background-size: 100%;
    padding: 18%;
    box-shadow: 0px 0px 15px black;
}
/*Formulario para ingresar todos los datos de las paginas perfil_Aspirante y Mi_Perfil */
.Contenido {
    padding-top: 8%;
    padding-bottom: 500%;
}
body {
    background-color: rgb(212, 212, 211, 0.2);
}
.Perfil {
    background: white;
    width: 30%;
    border-radius: 10px;
    font-family: sans-serif;
    margin: 5.5%;
    padding: 5%;
    box-shadow: 0px 0px 20px black;
}
/* Modificaciones en datos del perfil */

/* Quitar? */
/* .Perfil div label {
    display: inline-flex;
    padding: 2px;
}
.Perfil div label h3 {
    margin: 0px 10px;
    font-size: 100%;
} */
table {
    width: 80%;
    border-collapse: collapse;
}
table td, table th {
    width: 50%;
    padding: 5px 3px;
    font-size: 120%;
}
table th {
    text-align: right;
}
table td {
    text-align: left;
}
.Perfil #Foto_Perfil {
    width: 25%;
}
.Perfil .actualizar {
    padding: 7px 15px;
    border: 2px solid rgb(91, 91, 91);
    border-radius: 8px;
    font-size: 120%;
    font-weight: bold;
    color: black;
    text-decoration: none;
    transition: 0.5s;
}
.Perfil .actualizar:hover {
    box-shadow: 0px 0px 12px gray;
    border: none;
}
/* fin de modificaciones */
.Perfil h2 {
    font-size: 180%;
    text-align: center;
}
.Imagen_Perfil {
    text-align: center;
}
.Perfil div {
    display: inline;
}
.Perfil p {
    font-size: 110%;
    margin: 1%;
}
#Fecha_Nacimiento, #Fecha_Expedición_Documento {
    margin-left: -1%;
    text-align: left;
}
#Fecha_Expedición_Documento {
    width: 97%;
}
#Fecha_Nacimiento {
    width: 97%;
}
#Foto_Perfil {
    width: 15%;
    padding: 1%;
    border-radius: 100px;
    background-color: white;
}
#Foto_Perfil:hover {
    background-color: #e5e8e8c0;
}
.controls, .Seleccion {
    width: 95%;
    margin: 1% 0%;
    padding: 1.5% 3%;
    border-radius: 10px;
    background: white;
    font-family: sans-serif;
    font-size: 110%;
    border: solid 2px #184394; 
}
.Seleccion {
    width: 101.6%;
}
.controls:hover, .Seleccion:hover, .botons:hover {
    background: #f8f8f8;
    box-shadow: 0px 0px 5px gray;
}
.botons {
    width: auto;
    border-radius: 10px;
    margin: 1% 0%;
    padding: 1% 1.5%;
    font-size: 120%;
}

/*Formulario para subir la documentacion requerida */
#aspirante {
    width: 100%;
    display: flex;
    padding: 5% 0%;
}
.Documentos_Aspirante {
    width: 40%;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0px 0px 20px black;
    background-color: white;
}
#titleDoc {
    font-family: arial;
    width: 30%;
    padding-bottom: 3%;
    margin-bottom: 5%;
    border-bottom: 2px solid black;
}
label {
    font-size: 130%;
    font-family: sans-serif;
}